<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">

          <div class="card-header card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">TOMA DE PEDIDO</h4>
          </div>

          <mat-horizontal-stepper linear #stepper>
            <mat-step >
              <ng-template matStepLabel>Datos de identificacion</ng-template>
              <div class="col-sm-8">
                <form class="form-horizontal">



                  <form >

                    <!-- NOMBRE -->
                    <div class="form-group">
                      <label class="font-weight-bold"l> CLIENTE </label>
                      <div class="col-sm-10">

                          <mat-select class="form-control"   [(ngModel)]="cliente" name="cliente" placeholder="Seleccione" required>
                            <mat-option *ngFor="let e of listaClientes" [value]="e.codigo">
                              {{e.nombre}}
                            </mat-option>

                          </mat-select>
                       </div>
                    </div>



                  <br>
                  <div class="form-group">
                   <label class="font-weight-bold"> USUARIO ASIGNADO </label>
                   <div class="col-sm-10">
                    <mat-select class="form-control"   [(ngModel)]="usuarioAsignado" name="usuarioAsignado" placeholder="Seleccione" required>
                      <mat-option *ngFor="let e of listaUsuarios" [value]="e.codigo">
                        {{e.nombre}}
                      </mat-option>

                    </mat-select>
                 </div>

                   <!-- direccion -->
                   <br>
                   <div class="form-group">
                    <label class="font-weight-bold"> DIRECCIÓN </label>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="direccion" name="direccion"
                        placeholder=""
                      />
                    </div>
                  </div>

                   <!-- DESCRIPCION -->
                   <br>
                   <div class="form-group">
                    <label class="font-weight-bold"> COMENTARIO </label>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="comentario" name="comentario"
                        placeholder=""
                      />
                    </div>
                  </div>


                </div>
                    <br />
                    <div class="text-center ">

                      <button mat-button matStepperNext

                      class="btn btn-success"
                      (click)="guardarDatosIdentificacion()"
                    >
                      Siguiente
                    </button>

                    </div>
                  </form>
                </form>
              </div>

            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Detalle del pedido</ng-template>
                <div class="col-sm-8">
                  <form class="form-horizontal">



                    <form >

                      <!-- PRODUCTO -->
                      <div class="form-group">
                        <label class="font-weight-bold"> PRODUCTO </label>
                        <div class="col-sm-10">

                            <mat-select class="form-control"   [(ngModel)]="producto" name="producto" placeholder="Seleccione" required>
                              <mat-option *ngFor="let e of listaProducto" [value]="e.codigo">
                                {{e.nombre}}
                              </mat-option>

                            </mat-select>
                         </div>
                      </div>



                    <br>
                    <div class="form-group">
                     <label class="font-weight-bold"> COSTO ADICIONAL </label>
                     <div class="col-sm-10">
                      <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="costoAdicional" name="costoAdicional"
                      placeholder=""

                    />
                   </div>

                     <!-- CONSTO INSTALACION -->
                     <br>
                     <div class="form-group">
                      <label class="font-weight-bold"> COSTO INSTALACIÓN </label>
                      <div class="col-sm-10">
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="costoInstalacion" name="costoInstalacion"
                          placeholder=""
                        />
                      </div>
                    </div>
                    <br>
                    <div class="form-group">
                     <label class="font-weight-bold"> CANTIDAD </label>
                     <div class="col-sm-10">
                       <input
                         type="text"
                         class="form-control"
                         [(ngModel)]="cantidad" name="cantidad"
                         placeholder=""
                       />
                     </div>
                   </div>
                   <div class="form-group">
                    <label class="font-weight-bold"> DESCUENTO </label>
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="descuento" name="descuento"
                        placeholder=""
                      />
                    </div>
                  </div>
                     <!-- DESCRIPCION -->
                     <br>
                     <div class="form-group">
                      <label class="font-weight-bold"> COMENTARIO </label>
                      <div class="col-sm-10">
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="comentarioProducto" name="comentarioProducto"
                          placeholder=""
                        />
                      </div>
                    </div>

                    <br>
                  </div>

                      <div class="text-center ">
                        <button mat-button
                        matStepperPrevious
                        class="btn btn-danger"

                      >
                        Regresar
                      </button>
                        <button mat-button

                        class="btn btn-success"
                        (click)="guardarDetalle()"
                      >
                        Agregar Detalle
                      </button>
                      <button mat-button

                      class="btn btn-primary"
                      (click)="procesarPedido()"
                    >
                      Procesar Pedido
                    </button>
                      </div>
                    </form>
                  </form>
                </div>
                <div class="row">
                  <div class="table-responsive">


                    <table class="table table-bordered ">
                      <thead >
                        <tr>

                          <th>Producto</th>
                          <th>Cantidad</th>
                          <th>Costo Adicional</th>
                          <th>Costo Instalación</th>
                          <th>Descuento</th>
                          <th>Monto</th>

                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr  *ngFor="let element of tableDetallePedido | paginate: {itemsPerPage: 5, currentPage: pageActual}; let i = index">


                      <td>{{element.nombre}}</td>
                      <td>{{element.cantidad}}</td>
                      <td>{{element.costo_adicional | currency:'GTQ':'symbol-narrow':'0.2'}}</td>
                      <td>{{element.costo_instalacion | currency:'GTQ':'symbol-narrow':'0.2'}}</td>
                      <td>{{element.descuento | currency:'GTQ':'symbol-narrow':'0.2'}}</td>
                      <td>{{element.monto | currency:'GTQ':'symbol-narrow':'0.2'}}</td>
                      <td style="width: 10vw;">

                          <button

                          class="btn btn-sm btn-danger"
                          (click)="eliminarDetalle(element)"
                        >
                          <mat-icon>delete</mat-icon>
                        </button>

                        <button

                        class="btn btn-sm btn-success"
                        (click)="agregarMaterial(element)"
                      >
                        <mat-icon>add</mat-icon>
                      </button>
                      </td>

                      </tbody>
                    </table>
                    <pagination-controls
                      (pageChange)="pageActual = $event"
                    ></pagination-controls>
                  </div>

                </div>

           </mat-step>

        </mat-horizontal-stepper>

        </div>
      </div>
    </div>
  </div>
</div>

