


<div   class="login-form  col-md-4 offset-md-4">

  <h1 class="title" >Bienvenido</h1>

  <form [formGroup]="loginForm">
    <div class="form-group">
      <label>Usuario</label>
      <input matInput formControlName="username" type="text" name="username" class="form-control">
    </div>
    <div class="form-group">
      <label>Constraseña</label>
      <input matInput type="password"  formControlName="password" name="password" class="form-control">
    </div>
    <button class="btn btn-primary btn-block" (click)="validarUsuario()"> Ingresar</button>
  </form>


</div>

