<div class="container app">

  <div class="row">
    <div class="col-sm-4">
      <img class="img-responsive"
        width="300"
        src="../../../assets/logo.PNG"
      />
    </div>

    <div class="col-sm-8" *ngIf="cambioPass" >

      <form class="form-horizontal">
        <h4 class="text-center" >Cambio de contraseña</h4>

        <div class="form-group">
          <label class="font-weight-bold"> Usuario </label>
          <div class="col-sm-10">
            <input
            [(ngModel)]="usuario" name="usuario"
              type="text"
              class="form-control"

            disabled
            />
          </div>
        </div>
        <div class="form-group">
          <label class="font-weight-bold"> Contraseña </label>
          <div class="col-sm-10">
            <input
            [(ngModel)]="password" name="password"
              type="password"
              class="form-control"

              placeholder="Ingrese Contraseña" required
            />
          </div>
          <br />
          <div class="form-group">
          <button

          class="btn btn-success"
          matTooltip="Guardar Cambios"
          (click)="accionCambioPass()"
        >
          {{nombreBoton}}
        </button>
      </div>
        </div>
      </form>
    </div>

    <div class="col-sm-8" *ngIf="!cambioPass" >

      <form class="form-horizontal">
        <h4 class="text-center" >Mantenimiento de Usuarios</h4>



          <div class="form-group">
            <label class="font-weight-bold"> DPI </label>
            <div class="col-sm-10">
              <input
              [(ngModel)]="dpi" name="dpi"
                type="text"
                class="form-control"

                placeholder="Ingrese DPI"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-weight-bold"l> NOMBRE </label>
            <div class="col-sm-10">
              <input
              [(ngModel)]="nombre" name="nombre"
                type="text"
                class="form-control"

                placeholder="Ingrese nombre" required
              />
            </div>

          </div>
          <div class="form-group" *ngIf="nombreBoton!='Guardar'">
            <label class="font-weight-bold"> USUARIO </label>
            <div class="col-sm-10">
              <input
              [(ngModel)]="usuario" name="usuario"
                type="text"
                class="form-control"
                disabled
                placeholder="Ingrese nombre de usuario"
              />
            </div>
          </div>
          <div class="form-group" *ngIf="nombreBoton=='Guardar'">
            <label class="font-weight-bold"l> USUARIO </label>
            <div class="col-sm-10">
              <input
              [(ngModel)]="usuario" name="usuario"
                type="text"
                class="form-control"

                placeholder="Ingrese nombre de usuario"
              />
            </div>
          </div>


          <div class="form-group">
            <label class="font-weight-bold"l> DIRECCIÓN </label>
            <div class="col-sm-10">
              <input
              [(ngModel)]="direccion" name="direccion"
                type="text"
                class="form-control"

                placeholder="Ingrese dirección"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-weight-bold"l> PERFIL </label>
            <div class="col-sm-10">
              <select   [(ngModel)]="perfil" name="perfil" class="custom-select "  required>

                <option value="ADMIN">Administrador</option>
                <option value="TECNICO" >Técnico</option>

              </select>
            </div>
          </div>



          <div class="text-left ">

              <button

                class="btn btn-success"
                matTooltip="Guardar Cambios"
                (click)="saveOrUpdate()"
              >
                {{nombreBoton}}
              </button>
              <button
              matTooltip="Limpiar campos"
                class="btn btn-secondary"
                (click)="limpiar()"
              >
                Limpiar
              </button>

          </div>

      </form>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="table-responsive">

      <table class="table table-bordered ">
        <thead >
          <tr>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let element of tableModel | paginate: {itemsPerPage: 5, currentPage: pageActual}; let i = index">
            <td>{{element.usuario}}</td>
            <td>{{element.nombre}}</td>
            <td>{{textEstado(element.estado)}}</td>

            <td style="width: 10vw;">

                <button
                matTooltip="Eliminar Registros"
                class="btn btn-sm btn-danger"
                (click)="eliminar(element)"
              >
                <mat-icon>delete</mat-icon>
              </button>
              <button
              matTooltip="Editar Registros"
              class="btn btn-sm btn-success"
              (click)="seleccionaEditar(element)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
            matTooltip="Cambio Contraseña"
            class="btn btn-sm btn-primary"
            (click)="seleccionaCambioPass(element)"
          >
          <mat-icon>cached</mat-icon>
          </button>
          </td>

        </tbody>
      </table>
      <pagination-controls
        (pageChange)="pageActual = $event"
      ></pagination-controls>
    </div>
    <div class="col-sm-4" [hidden]="hideUpdate"></div>
  </div>

<!--spinner-->
<div class="loading-spinner">

  <ngx-spinner diameter="40" strokeWidth="2" bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff"
    type="ball-fussion">
    <h1 mat-dialog-title class="title-loading" style="color: white;">Cargando...</h1>

  </ngx-spinner>
</div>
