  <!-- Main Sidebar Container -->
  <div >
  <aside class="main-sidebar sidebar-dark-primary elevation-4" >
    <!-- Brand Logo -->
    <a routerLink="/cliente" class="brand-link">
      <img src="../../../../assets/logo.PNG"
           alt="AdminLTE Logo"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">{{nombre}}</span>

    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional)
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Alexander Pierce</a>
        </div>
      </div>-->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
               <li class="nav-item" *ngIf="validaRol('ADMIN')">
                <a routerLink='/usuario' class="nav-link">
                  <mat-icon class="nav-icon">assignment_ind</mat-icon>
                  <p class="ml-2">Usuarios</p>
                </a>
              </li>
              <li class="nav-item">
                <a  routerLink="/producto" class="nav-link">

                  <mat-icon class="nav-icon"> assignment_turned_in</mat-icon>
                  <p>Productos</p>
                </a>
              </li>
              <li class="nav-item">
                <a  routerLink="/cliente"class="nav-link">

                  <mat-icon  class="nav-icon">face</mat-icon>
                  <p>Clientes</p>
                </a>
              </li>
              <li class="nav-item">
                <a  routerLink="/proveedor" class="nav-link" *ngIf="validaRol('ADMIN')">
                  <mat-icon  class="nav-icon"> contact_phone</mat-icon>
                  <p>Proveedores</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="materiales" class="nav-link" *ngIf="validaRol('ADMIN')">

                  <mat-icon class="nav-icon">build</mat-icon>
                  <p>Materiales</p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/pedido" class="nav-link">

                  <mat-icon  class="nav-icon">shopping_cart</mat-icon>
                  <p>Pedidos</p>
                </a>
              </li>
        </ul>


      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</div>
