<div class="container app">
  <div class="row">

  <div class="row">
    <div class="col-sm-4">
      <img
        width="300"
        src="../../../assets/logo.PNG"
      />
    </div>
    <div class="col-sm-8">
      <form class="form-horizontal">

        <h4 class="text-center" >Mantenimiento Materiales</h4>


          <!-- CODIGO -->
          <div class="form-group">
            <label class="font-weight-bold"> CODIGO </label>
            <div class="col-sm-10">
              <input
              [(ngModel)]="codigo" name="codigo"
                type="text"
                class="form-control"
                placeholder="Ingrese el código"
              />
            </div>
          </div>
          <br>
          <!-- NOMBRE -->
          <div class="form-group">
            <label class="font-weight-bold"l> NOMBRE </label>
            <div class="col-sm-10">
              <input
              [(ngModel)]="nombre" name="nombre"
                type="text"
                class="form-control"

                placeholder="Ingrese el nombre"
              />
            </div>
          </div>
          <!-- PROVEEDOR -->
          <div class="form-group">
            <label class="font-weight-bold"l> PROVEEDOR </label>
            <div class="col-sm-10">
              <mat-select class="form-control"   [(ngModel)]="proveedor" name="proveedor" placeholder="Seleccione" required>
                <mat-option *ngFor="let e of listaProveedores" [value]="e.codigo">
                  {{e.nombre}}
                </mat-option>

              </mat-select>
            </div>
          </div>

          <br>
          <div class="form-group">
            <label class="font-weight-bold">  PRECIO VENTA</label>
            <div class="col-sm-10">
              <input
              [(ngModel)]="precioVenta" name="precioVenta"
                type="number"
                class="form-control"

                placeholder="Ingrese precio de venta"
              />
            </div>
          </div>
          <br>
          <div class="form-group">
            <label class="font-weight-bold">  PRECIO COMPRA</label>
            <div class="col-sm-10">
              <input
              [(ngModel)]="precioCompra" name="precioVenta"
                type="number"
                class="form-control"

                placeholder="Ingrese precio de compra"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-weight-bold">TELEFONO NOTIFICACION</label>
            <div class="col-sm-10">
              <input
              [(ngModel)]="telefono" name="precio"
                type="text"
                class="form-control"

                placeholder="Notificacion de falta de inventario"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="font-weight-bold">CORREO NOTIFICACION</label>
            <div class="col-sm-10">
              <input
              [(ngModel)]="correo" name="precio"
                type="email"
                class="form-control"


              />
            </div>
          </div>
         <!-- DESCRIPCION -->
         <br>
         <div class="form-group">
          <label class="font-weight-bold"> DESCRIPCION </label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="descripcion" name="descripcion"
              placeholder="Ingrese la descripción del producto"
            />
          </div>
        </div>
          <!-- CANTIDAD -->
          <br>
          <div class="form-group">
           <label class="font-weight-bold"> STOCK </label>
           <div class="col-sm-10">
             <input
               type="text"
               class="form-control"
               [(ngModel)]="stock" name="stock"
               placeholder="Ingrese la cantidad en existencia"
             />
           </div>
         </div>
        <br>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label class="font-weight-bold"> ACTIVO </label>
              </div>
              <div class="col-9">
                <mat-checkbox [(ngModel)]="estado" name="estado" ></mat-checkbox>
              </div>
            </div>
          </div>

          <br />
          <div class="text-center ">

              <button

                class="btn  btn-success"
                (click)="saveOrUpdate()"
              >
                {{nombreBoton}}
              </button>
              <button

                class="btn btn-secondary"
                (click)="limpiar()"
              >
                Limpiar
              </button>

          </div>
        </form>

    </div>
  </div>

  <div class="row">
    <div class="table-responsive">
      <br />
      <table class="table table-bordered ">
        <thead >
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Stock</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let element of tableModel | paginate: {itemsPerPage: 5, currentPage: pageActual}; let i = index">

            <td>{{element.codigo}}</td>
            <td>{{element.nombre}}</td>
            <td>{{element.stock}}</td>
            <td>{{element.estado}}</td>

            <td style="width: 10vw;">

                <button

                class="btn  btn-danger"
                matTooltip="Eliminar Material"
                (click)="eliminar(element)"
              >
                <mat-icon>delete</mat-icon>
              </button>
              <button
              matTooltip="Editar Material"
              class="btn btn-success"
              (click)="seleccionaEditar(element)"
            >
              <mat-icon>edit</mat-icon>
            </button>

          </td>

        </tbody>
      </table>
      <pagination-controls
        (pageChange)="pageActual = $event"
      ></pagination-controls>
    </div>
    <div class="col-sm-4" [hidden]="hideUpdate"></div>
  </div>

<!--spinner-->
<div class="loading-spinner">

  <ngx-spinner diameter="40" strokeWidth="2" bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff"
    type="ball-fussion">
    <h1 mat-dialog-title class="title-loading" style="color: white;">Cargando...</h1>

  </ngx-spinner>
</div>
