<div  mat-dialog-content class="text-center" >

  <h5  mat-dialog-title class="title">
    Ingreso de Pagos
    <hr>
  </h5>
      <div class="col">




      <form  >

           <!-- PRODUCTO -->
           <div class="form-group">


              <label class="font-weight-bold">ABONO </label>
              <div class="col-sm-10">
               <input
               type="number"
               class="form-control"
               [(ngModel)]="abono" name="abono"
               placeholder=""

             />
            </div>
            <label class="font-weight-bold">DESCRIPCIÓN</label>
              <div class="col-sm-10">
               <input
               type="text"
               class="form-control"
               [(ngModel)]="descripcion" name="descripcion"
               placeholder=""

             />
            </div>
          </div>

          <div class="text-center ">
            <button mat-button class="btn  btn-primary" [mat-dialog-close]="data.id_padre" cdkFocusInitial>Regresar</button>
            <button mat-button

            class="btn btn-success"
            (click)="agregar()"
          >
            Agregar
          </button>

          </div>

    </form>
<br>
    <div class="row">
      <div >


        <table class="table table-bordered ">
          <thead >
            <tr>

              <th>Fecha</th>
              <th>Abono</th>
              <th>Descripción</th>

            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let element of tablePagos | paginate: {itemsPerPage: 5, currentPage: pageActual}; let i = index">


          <td>{{element.fecha_abono |  date:'dd/MM/YYYY' }}</td>
          <td>{{element.abono}}</td>
          <td>{{element.descripcion}}</td>


          </tbody>
        </table>
        <pagination-controls
          (pageChange)="pageActual = $event"
        ></pagination-controls>
      </div>

    </div>

</div>
